<app-template subtitle="Calcular a média bimestral">
    <mat-card class="card-calculator card-content">
        <form class="form" (ngSubmit)="calculate()">
            <mat-form-field>
                <input 
                    matInput 
                    required
                    type="number" 
                    max="10" 
                    placeholder="Nota 1" 
                    [(ngModel)]="grades.grade1" 
                    name="grade1"
                    id="grade1">
            </mat-form-field>
    
            <mat-form-field>
                <input 
                    matInput 
                    required
                    type="number" 
                    max="10" 
                    placeholder="Nota 2" 
                    [(ngModel)]="grades.grade2"
                    name="grade2"
                    id="grade2">
            </mat-form-field>
    
            <mat-form-field>
                <input 
                    matInput 
                    type="number" 
                    max="10" 
                    placeholder="Nota 3" 
                    [(ngModel)]="grades.grade3" 
                    name="grade3"
                    id="grade3">
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    required
                    type="number" 
                    max="10" 
                    placeholder="atitudinal" 
                    [(ngModel)]="grades.attitudinal" 
                    name="attitudinal"
                    id="attitudinal">
            </mat-form-field>
    
            <button mat-raised-button color="primary" type="submit" id="calculate">
                Calculate
            </button>
        </form>
    </mat-card>

    <mat-card *ngIf="avarageBimester != undefined ">
        <mat-card-content class="card-content">
            <div class="nota">
                Você tem uma média <strong id="result">{{avarageBimester}}</strong>
            </div>
            <img mat-card-image class="image" src="https://falaserioamigaa.files.wordpress.com/2016/03/gifs-so-gifs-engracados-2.gif">
        </mat-card-content>
    </mat-card>
</app-template>


