<app-template title="Média bimestral">
        <form class="form" (ngSubmit)="calculate()">
            <mat-form-field>
                <input 
                    matInput 
                    required
                    type="number" 
                    max="10" 
                    placeholder="Nota 1" 
                    [(ngModel)]="grades.grade1" 
                    name="grade1"
                    id="grade1">
            </mat-form-field>
    
            <mat-form-field>
                <input 
                    matInput 
                    required
                    type="number" 
                    max="10" 
                    placeholder="Nota 2" 
                    [(ngModel)]="grades.grade2"
                    name="grade2"
                    id="grade2">
            </mat-form-field>
    
            <mat-form-field>
                <input 
                    matInput 
                    type="number" 
                    max="10" 
                    placeholder="Nota 3" 
                    [(ngModel)]="grades.grade3" 
                    name="grade3"
                    id="grade3">
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    required
                    type="number" 
                    max="10" 
                    placeholder="atitudinal" 
                    [(ngModel)]="grades.attitudinal" 
                    name="attitudinal"
                    id="attitudinal">
            </mat-form-field>
    
            <div class="container-button">
                <button type="submit" class="calculate">
                    Calcular Média
                </button>
            </div>
        </form>
</app-template>


