<app-template subtitle="Calcular a nota mínima para ser aprovado no 4° bimestre">
    <mat-card class="card-calculator card-content">
        <form class="form" (ngSubmit)="calculate()">
            <mat-form-field>
                <input 
                    matInput 
                    required
                    type="number" 
                    max="10" 
                    placeholder="Média 1° bimestre" 
                    [(ngModel)]="grades.firstBimester" 
                    name="grade1">
            </mat-form-field>
    
            <mat-form-field>
                <input 
                    required
                    matInput 
                    type="number" 
                    max="10" 
                    placeholder="Média 2° bimestre" 
                    [(ngModel)]="grades.secondBimester"
                    name="grade2">
            </mat-form-field>
    
            <mat-form-field>
                <input 
                    required
                    matInput 
                    type="number" 
                    max="10" 
                    placeholder="Média 3° bimestre" 
                    [(ngModel)]="grades.thirdBimester" 
                    name="grade3">
            </mat-form-field>
    
            <button mat-raised-button color="primary" type="submit">
                Calculate
            </button>
        </form>
    </mat-card>

    <mat-card *ngIf="minimumGradeForFourBimester != undefined">
        <mat-card-content *ngIf="minimumGradeForFourBimester > 0 && minimumGradeForFourBimester <= 10" class="card-content">
            <div class="nota">
                Você precisa de uma média <strong>{{minimumGradeForFourBimester}}</strong>  <br> no 4° bimestre
            </div>
            <img mat-card-image class="image" src="https://falaserioamigaa.files.wordpress.com/2016/03/gifs-so-gifs-engracados-2.gif">
        </mat-card-content>
        <mat-card-content *ngIf="minimumGradeForFourBimester <= 0" class="card-content">
            <div class="nota">
                Brabo, brabo, você já passou de ano !!!
            </div>
            <img mat-card-image class="image" src="https://media1.giphy.com/media/d1OcDN64mZsQfj2q3G/giphy.gif">
        </mat-card-content>
        <mat-card-content *ngIf="minimumGradeForFourBimester > 10" class="card-nota card-content">
            <div class="nota">
                Infelizmente, você pegou DP !!!
            </div>
            <img mat-card-image class="image" src="https://thumbs.gfycat.com/InformalOldButterfly-size_restricted.gif">
        </mat-card-content>
    </mat-card>
</app-template>

