<app-template subtitle="Calcular média de todos os bimestres e verificar se passou de ano">
    <mat-card class="card-calculator" id="card-content">
        <form class="form" (ngSubmit)="calcular()">
            <mat-form-field>
                <input 
                    required
                    matInput 
                    type="number" 
                    max="10" 
                    placeholder="Média 1° bimestre" 
                    [(ngModel)]="notas.primeiroBimestre" 
                    name="grade1">
            </mat-form-field>
    
            <mat-form-field>
                <input 
                    required
                    matInput 
                    type="number" 
                    max="10" 
                    placeholder="Média 2° bimestre" 
                    [(ngModel)]="notas.segundoBimestre"
                    name="grade2">
            </mat-form-field>
    
            <mat-form-field>
                <input 
                    required
                    matInput 
                    type="number" 
                    max="10" 
                    placeholder="Média 3° bimestre" 
                    [(ngModel)]="notas.terceiroBimestre" 
                    name="grade3">
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    required
                    type="number" 
                    max="10" 
                    placeholder="Média 4° bimestre" 
                    [(ngModel)]="notas.quartoBimestre" 
                    name="grade4">
            </mat-form-field>
    
            <button mat-raised-button color="primary" type="submit">
                Calcular
            </button>
        </form>
    </mat-card>

    <mat-card *ngIf="resultado != '' ">
        <mat-card-content *ngIf="resultado <= 0"  class="card-content">
            <div class="nota">
               Parabéns soldado(a), você passou de ano !!!
            </div>
            <img mat-card-image class="image" src="https://media1.giphy.com/media/d1OcDN64mZsQfj2q3G/giphy.gif">
        </mat-card-content>
        <mat-card-content *ngIf="resultado > 0" class="card-nota card-content"> 
            <div class="nota">
                Infelizmente, você pegou DP !!!
            </div>
            <img mat-card-image class="image" src="https://thumbs.gfycat.com/InformalOldButterfly-size_restricted.gif">
        </mat-card-content>
    </mat-card>
</app-template>


