<app-template title="Mínimo para ser Aprovado no 3° bimestre">
    <form class="form" (ngSubmit)="calculate()">
        <mat-form-field>
            <input 
                matInput 
                required
                type="text" 
                (blur)="formatNumber($event, 'firstBimester')"
                placeholder="Média 1° bimestre" 
                [(ngModel)]="grades.firstBimester" 
                name="grade1">
        </mat-form-field>

        <mat-form-field>
            <input 
                required
                matInput 
                type="text" 
                (blur)="formatNumber($event, 'secondBimester')"
                placeholder="Média 2° bimestre" 
                [(ngModel)]="grades.secondBimester"
                name="grade2">
        </mat-form-field>

        <div class="container-button">
            <button type="submit" class="calculate">
                Calcular Mínimo
            </button>
        </div>
    </form>
</app-template>