.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #048ABF;
}
.card-calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 20px 0;
}
.nota{
    text-align: center;
}
.mat-card{
    max-width: 250px;
}

.form{
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px){
    .app{
        flex-direction: column;
    }
}