<app-template title="Mínimo na PF">
    <form class="form" (ngSubmit)="calculate()">
        <mat-form-field>
            <input 
                matInput 
                required
                type="text" 
                (blur)="formatNumber($event, 'generalAverage')"
                placeholder="Média Geral" 
                [(ngModel)]="grades.generalAverage" 
                name="grade1">
        </mat-form-field>
        <div class="container-button">
            <button type="submit" class="calculate">
                Calcular Mínimo
            </button>
        </div>
    </form>
</app-template>

