<app-template title="Média Geral">
    <form class="form" (ngSubmit)="calculate()">
        <mat-form-field>
            <input 
                matInput 
                required
                type="text" 
                (blur)="formatNumber($event, 'firstBimester')"
                placeholder="Média 1° bimestre" 
                [(ngModel)]="grades.firstBimester" 
                name="grade1">
        </mat-form-field>

        <mat-form-field>
            <input 
                required
                matInput 
                type="text" 
                (blur)="formatNumber($event, 'secondBimester')"
                placeholder="Média 2° bimestre" 
                [(ngModel)]="grades.secondBimester"
                name="grade2">
        </mat-form-field>

        <mat-form-field>
            <input 
                required
                matInput 
                type="text" 
                (blur)="formatNumber($event, 'thirdBimester')"
                placeholder="Média 3° bimestre" 
                [(ngModel)]="grades.thirdBimester" 
                name="grade3">
        </mat-form-field>
        <mat-form-field>
            <input 
                required
                matInput 
                type="text" 
                (blur)="formatNumber($event, 'fourthBimester')"
                placeholder="Média 4° bimestre" 
                [(ngModel)]="grades.fourthBimester" 
                name="grade3">
        </mat-form-field>

        <div class="container-button">
            <button type="submit" class="calculate">
                Calcular Média
            </button>
        </div>
    </form>
</app-template>