.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f8f1f1;
}
.card-app{
    padding: 20px;
    background-color: #16c79a   ;
}
.card-app .title  {
    text-align: center;
    color: #fff;
}
.card-app .subtitle  {
    text-align: center;
    color: #f8f1f1;
}

.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 1000px){
    .container-cards{
        flex-direction: column;
    }
}