.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #F0F0F5;
    overflow-x: hidden;
}
.content-container {
    display: flex;
    justify-content: center;
}

.card-app{
    padding: 56px 63px;
    background-color: #fff   ;
    margin-top: 3rem;
    width: 58vw;
    box-shadow: none;
    border-radius: 8px;
}
.card-app .title  {
    color: #0F241D;
    font-size: 2.3rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 2rem;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
}



@media (max-width: 1000px){
    .container-cards{
        flex-direction: column;
    }
}
@media (max-width: 768px){
    .card-app .title  {
        font-size: 1.8rem;
        text-align: center;
    }
}