<div class="app">
  
    <mat-card class="card-app">
        <mat-card-title class="title">  Calculadora de notas do IF </mat-card-title>
        <mat-card-subtitle class="subtitle"> {{subtitle}}</mat-card-subtitle>
        <div class="menu-container">
          <button mat-icon-button matBadge="1" matBadgeColor="warn" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['']">
                  <mat-icon>navigate_next</mat-icon>
                  <span>Quanto precisa no 4° bimestre</span>
              </button>
              <button mat-menu-item [routerLink]="['/todos/bimestres']">
                  <mat-icon>navigate_next</mat-icon>
                  <span>Calcular Quatro Bimestres</span>
              </button>
              <button mat-menu-item [routerLink]="['/um/bimestre']">
                <mat-icon>navigate_next</mat-icon>
                <span>Calcular média de um bimestre</span>
              </button>
              <button mat-menu-item [routerLink]="['/pf']">
                <mat-icon color="warn">navigate_next</mat-icon>
                <span>Calcular quanto precisa na PF</span>
              </button>
            </mat-menu>
            </div>
          
        <div class="container-cards">
            <ng-content></ng-content>
        </div>

    </mat-card>
</div>

